﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Campeão";
    var obj = ViewData["Campeao"] as Core.Database.Campeoes;
    var Times = ViewData["Times"] as List<Core.Database.Times>;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();

        $("#btnHome").click(function () {
            location.href = '/Home/Index'
        });

    });
</script>

<style type="text/css">
    button {
        margin-top: 5%;
        margin-left: 2%;
    }

    .btn-success {
        margin-left: 4vh;
    }
</style>


<div class="row novo">
    <div class="col-lg-10 container" style="margin-top: 10%;">
        <form action="/Home/Campeao" method="post">
            <input type="hidden" name="id" value="@(obj != null ? obj.id.ToString() : "")" />
            <div class="col-lg-12" style="margin-top: 5%;">
                <label>Time</label>
                <select class="form-control" name="timeId">
                    <option>Selecione...</option>
                    @foreach (var item in Times)
                    {
                        if (obj != null && item.id == obj.timeId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Ano</label>
                <input type="text" class="form-control" name="ano" value="@(obj != null ? obj.ano.ToString() : "")" />
            </div>
            <div class="row">
                <br />
                <button type="submit" class="btn btn-success">Enviar</button>
                @if (obj != null)
                { <button type="submit" class="btn btn-danger" value="1" name="deletar">Deletar</button> }
                <button type="reset" class="btn btn-primary" id="btnHome">Cancelar</button>
            </div>
        </form>
    </div>
</div>
