﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Códigos";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();

        $("#avg").click(function () {
            location.href = '/Home/CodigoEspecifico?id=1'
        });

        $("#sum").click(function () {
            location.href = '/Home/CodigoEspecifico?id=2'
        });

        $("#between").click(function () {
            location.href = '/Home/CodigoEspecifico?id=3'
        });

        $("#and").click(function () {
            location.href = '/Home/CodigoEspecifico?id=4'
        });

        $("#or").click(function () {
            location.href = '/Home/CodigoEspecifico?id=5'
        });

        $("#not").click(function () {
            location.href = '/Home/CodigoEspecifico?id=6'
        });

        $("#join").click(function () {
            location.href = '/Home/CodigoEspecifico?id=7'
        });
    });
</script>

<style type="text/css">
    .espaco {
        margin-left: 5%;
    }

    .row {
        margin-bottom: 1%;
    }
</style>

<div class="menu">
    <ul id="voltaram">
        <a href="/Home/Index#t6" title="Voltar"><li class="icon fa fa-arrow-alt-circle-left" id="uno"></li></a>
    </ul>
</div>
<div class="row novo">
    <section id="t1">
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-12 center">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>WHERE</h2>
                        <img src="~/Imagens/where.png" style="max-height: 900px; max-width: 700px;" />
                        <br /><small>Respresentado pela função Get(int id)</small>
                    </div>
                    <div class="col-lg-6">
                        <h2>COUNT</h2>
                        <img src="~/Imagens/count.png" style="max-height: 900px; max-width: 700px;" />
                        <br /><small>Página: <a href="~/Home/Index#t5">Novos</a></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>AVG</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="avg"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                    <div class="col-lg-6">
                        <h2>SUM</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="sum"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>BETWEEN</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="between"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                    <div class="col-lg-6">
                        <h2>AND</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="and"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>OR</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="or"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                    <div class="col-lg-6">
                        <h2>NOT</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="not"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>ORDER BY</h2>
                        <img src="~/Imagens/order.png" style="max-height: 900px; max-width: 700px;" />
                        <br /><small>Página: <a href="~/Home/Entidade?type=1">Entidades</a></small>
                    </div>
                    <div class="col-lg-6">
                        <h2>Group by </h2>
                        <img src="~/Imagens/group.png" style="max-height: 900px; max-width: 700px;" />
                        <br /><small>Página: <a href="~/Home/Index#t2">Times</a></small>
                    </div>
                </div>
                <div class="row" style="margin-top: -2%;">
                    <div class="col-lg-6">
                        <h2>JOINs</h2>
                        <button type="button" class="btn btn-primary btn-sm" id="join"><i class="fa fa-eye"></i> Visualizar</button>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>
    </section>
</div>