﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Códigos";
    var type = ViewData["id"];

    var avg = ViewData["Avg"];
    var sum = ViewData["Sum"] as List<dynamic>;
    var between = ViewData["BetWeen"] as List<dynamic>;
    var and = ViewData["And"] as List<dynamic>;
    var or = ViewData["Or"] as List<dynamic>;
    var not = ViewData["Not"] as List<dynamic>;
    var join = ViewData["Join"] as List<dynamic>;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();
        $("#avg").hide();
        $("#sum").hide();
        $("#between").hide();
        $("#and").hide();
        $("#or").hide();
        $("#not").hide();
        $("#join").hide();

        if (@type == 1) { $("#avg").show(); }
        if (@type == 2) { $("#sum").show(); }
        if (@type == 3) { $("#between").show(); }
        if (@type == 4) { $("#and").show(); }
        if (@type == 5) { $("#or").show(); }
        if (@type == 6) { $("#not").show(); }
        if (@type == 7) { $("#join").show(); }
    });
</script>

<style type="text/css">
    .espaco {
        margin-left: 5%;
    }

    .row {
        margin-bottom: 1%;
    }
</style>

<div class="menu">
    <ul id="voltaram">
        <a href="/Home/Codigo" title="Voltar"><li class="icon fa fa-arrow-alt-circle-left" id="uno"></li></a>
    </ul>
</div>
<div class="row novo">
    <section id="t1">
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 center" id="avg">
                <h2>AVG</h2>
                <img src="~/Imagens/avg.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <h3>Média = @avg</h3>
            </div>
            <div class="col-lg-6 center" id="sum">
                <h2>SUM</h2>
                <img src="~/Imagens/sum.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Qtd. Titulares</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in sum)
                        {
                            <tr>
                                <th scope="row">@item.nome</th>
                                <td>@item.Titulares</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 center" id="between">
                <h2>BETWEEN</h2>
                <img src="~/Imagens/between.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small>inicio = 1 e fim = 12</small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in between)
                        {
                            <tr>
                                <th scope="row">@item.numero</th>
                                <td>@item.nome</td>
                                <td>@item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 center" id="and">
                <h2>AND</h2>
                <img src="~/Imagens/and.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">País</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in and)
                        {
                            <tr>
                                <th scope="row">@item.nome</th>
                                <td>@item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 center" id="or">
                <h2>OR</h2>
                <img src="~/Imagens/or.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id Liga</th>
                            <th scope="col">Liga</th>
                            <th scope="col">Id Time</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in or)
                        {
                            <tr>
                                <th scope="row">@item.LigaId</th>
                                <td>@item.Liga</td>
                                <td>@item.id</td>
                                <td>@item.nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 center" id="not">
                <h2>NOT</h2>
                <img src="~/Imagens/not.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Posição</th>
                            <th scope="col">Titular</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in not)
                        {
                            <tr>
                                <th scope="row">@item.nome</th>
                                <td>@item.Posicao</td>
                                <td>@(item.titular == Convert.ToBoolean(1) ? "Sim" : "Não")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 center" id="join">
                <h2>JOIN</h2>
                <img src="~/Imagens/join.png" style="max-height: 900px; max-width: 700px; margin-bottom: 3%;" />
                <p><small></small></p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">País</th>
                            <th scope="col">Liga</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in join)
                        {
                            <tr>
                                <th scope="row">@item.Time</th>
                                <td>@item.Pais</td>
                                <td>@item.Liga</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>