﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Entidades";
    var Posicao = ViewData["Posicao"] as List<Core.Database.Posicoes>;
    var Usuario = ViewData["Usuario"] as List<Core.Database.System.Usuario>;
    var type = ViewData["type"];
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();
        $("#exibeP").hide();
        $("#exibeU").hide();

        if (@type != 0) {
            $("#exibeP").show();
        }

        $("#po").click(function () {
            $("#exibeP").show();
            $("#exibeU").hide();
        });

        $("#us").click(function () {
            $("#exibeP").hide();
            $("#exibeU").show();
        });
    });
</script>

<style type="text/css">
    .espaco {
        margin-left: 5%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    h3 {
        text-align: center;
    }
</style>

<div class="menu">
    <ul id="voltaram">
        <a href="/Home/Index#t6" title="Voltar"><li class="icon fa fa-arrow-alt-circle-left" id="uno"></li></a>
    </ul>
</div>
<div class="row novo">
    <section id="t1">
        <div class="row" style="margin-bottom: 2%; margin-left: 5%;">
            <div class="col-lg-12">
                <h2>Tabelas</h2>
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-4" style="margin-left: 2%;">
                        <h5><a href="/Home/Index#t3" target="_blank"><i title="Visualizar" class="fa fa-medal" style="color: black"></i> Campeões</a></h5>
                        <h5><a href="/Home/Index#t4" target="_blank"><i title="Visualizar" class="fa fa-users" style="color: black"></i> Jogadores</a></h5>
                        <h5><a href="/Home/Index#t7" target="_blank"><i title="Visualizar" class="fa fa-users-cog" style="color: black"></i> Jogos</a></h5>
                        <h5><a href="/Home/Index#t5" target="_blank"><i title="Visualizar" class="fa fa-align-justify" style="color: black"></i> Ligas</a></h5>
                        <h5><a href="/Home/Index#t5" target="_blank"><i title="Visualizar" class="fa fa-flag" style="color: black"></i> Países</a></h5>
                        <h5><a href="/Home/Index#t5" target="_blank"><i title="Visualizar" class="fa fa-passport" style="color: black"></i> Patrocinadores</a></h5>
                        <h5><a href="#exibeP" id="po" ><i title="Visualizar" class="fa fa-map-marker-alt" style="color: black"></i> Posições</a></h5>
                        <h5><a href="/Home/Index#t2" target="_blank"><i title="Visualizar" class="fa fa-futbol" style="color: black"></i> Times</a></h5>
                        <h5><a href="#exibeU" id="us" ><i title="Visualizar" class="fa fa-user" style="color: black"></i> Usuário</a></h5>
                    </div>
                    <div class="col-lg-6">
                        <div id="exibeP">
                            <h3>Posições</h3> 
                            <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Sigla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Posicao)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.nome</td>
                                            <td>@item.sigla</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="exibeU">
                            <h3>Usuários</h3>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Usuário</th>
                                        <th>E-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Usuario)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.nome</td>
                                            <td>@item.email</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>