﻿
@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Times = ViewData["Times"] as List<dynamic>;
    var Campeao = ViewData["Campeao"] as List<dynamic>;
    var Jogos = ViewData["Jogos"] as List<dynamic>;
    var TimesJogos = ViewData["TimesJogos"] as List<Core.Database.Times>;
    var Jogadores = ViewData["Jogadores"] as List<dynamic>;
    var Posicoes = ViewData["Posicoes"] as List<Core.Database.Posicoes>;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#pais").hide();
        $("#ligas").hide();
        $("#patrocinador").hide();
        $("#btnEnviar").hide();

        $("#novoTime").click(function () {
            location.href = '/Home/Time';
        });

        $("#novoCampeao").click(function () {
            location.href = '/Home/Campeao';
        });

        $("#novoPartida").click(function () {
            location.href = '/Home/Partida';
        });

        $("#novoJogador").click(function () {
            location.href = '/Home/Jogador';
        });

        $("#selectI").change(function () {
            $("#btnEnviar").show();
            var val = $("#selectI").val();
            $("#pais").hide();
            $("#ligas").hide();
            $("#patrocinador").hide();

            if (val == 0) {
                $("#pais").hide();
                $("#ligas").hide();
                $("#patrocinador").hide();
                $("#btnEnviar").hide();
            } else {
                if (val == 1) {
                    $("#pais").show();
                } else {
                    if (val == 2) {
                        $("#ligas").show();
                    } else {
                        $("#patrocinador").show();
                    }
                }
            }             
        });
    });
</script>

<div class="row">
    <div class="col-lg-10">
        <section id="t1">
            <h2 style="margin-left: 25%; ">Olá, Visitante!</h2>
            <img class="logoFinal" src="https://img.uefa.com//MultimediaFiles/Photo/competitions/General/02/60/41/97//2604197_w1.jpg">
        </section>
        <section id="t2">
            <div class="col-lg-11">
                <button class="btn btn-success btNovo" id="novoTime">Inserir Novo Time</button>
                <table @*class="table"*@>
                    <thead @*class="thead-light"*@>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">País</th>
                            <th scope="col">Liga</th>
                            <th scope="col">N° Jogadores</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Times)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>@item.Time</td>
                                <td>@item.Pais</td>
                                <td>@item.Liga</td>
                                <td>@item.Jogadores</td>
                                <td><a href="/Home/Time?id=@item.id"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <section id="t3">
            <div class="col-lg-11">
                <button class="btn btn-success btNovo" id="novoCampeao">Inserir Novo Campeão</button>
                <table @*class="table"*@>
                    <thead @*class="thead-light"*@>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Temporada</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Campeao)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>@item.Time</td>
                                <td>@item.ano</td>
                                <td><a href="/Home/Campeao?id=@item.id"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <section id="t4">
            <div class="col-lg-11">
                <button class="btn btn-success btNovo" id="novoJogador">Inserir Novo Jogador</button>
                <table @*class="table"*@>
                    <thead @*class="thead-light"*@>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Número</th>
                            <th scope="col">Posição</th>
                            <th scope="col">Time</th>
                            <th scope="col">País</th>
                            <th scope="col">Titular</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Jogadores)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>@item.nome</td>
                                <td>@item.numero</td>
                                <td title="@item.Posicao">@item.sigla</td>
                                <td>@item.Time</td>
                                <td>@item.Pais</td>
                                <td>@(item.titular == true ? "Sim" : "Não")</td>
                                <td><a href="/Home/Jogador?id=@item.id"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <section id="t5">
            <div class="row center" style="margin-left: 5%;">
                <div class="card text-white bg-primary mb-4" style="width: 10rem;">
                    <div class="card-header">Países</div>
                    <div class="card-body">
                        <h5 class="card-title">@ViewData["PaisCount"]</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
                <div class="card text-white bg-info mb-4" style="width: 10rem; margin-left: 5%;">
                    <div class="card-header">Ligas</div>
                    <div class="card-body">
                        <h5 class="card-title">@ViewData["LigaCount"]</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
                <div class="card text-white bg-dark mb-4" style="width: 10rem; margin-left: 5%;">
                    <div class="card-header">Patrocinadores</div>
                    <div class="card-body">
                        <h5 class="card-title">@ViewData["PatrocinadorCount"]</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 btNovo">
                <label>O que deseja Inserir?</label>
                <select class="form-control" id="selectI">
                    <option value="0">Selecione...</option>
                    <option value="1">País</option>
                    <option value="2">Liga</option>
                    <option value="3">Patrocinador</option>
                </select>
            </div>
            <form action="/Home/InsertNovos" method="post">
                <div class="col-lg-12 insertNovo">
                    <div id="pais">
                        <div class="col-lg-3">
                            <label>Nome</label>
                            <input type="text" name="nome" class="form-control" />
                        </div>
                    </div>
                    <div id="ligas">
                        <div class="col-lg-3">
                            <label>Nome</label>
                            <input type="text" name="nomeL" class="form-control" />
                        </div>
                    </div>
                    <div id="patrocinador">
                        <div class="col-lg-3">
                            <label>Nome</label>
                            <input type="text" name="nomeP" class="form-control" />
                        </div>
                        <div class="col-lg-3">
                            <label>Imagem</label>
                            <input type="text" name="imagem" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 insertNovo" id="btnEnviar">
                    <br />
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </section>
        <section id="t6">
            <div class="row" style="margin-bottom: 2%;">
                <div class="col-lg-12 center">
                    <h2>Integrantes</h2>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <h4>Matheus Henrique RA: 65265</h4>
                        </div>
                        <div class="col-lg-3">
                            <h4>Vinicius Gonçalves RA: 65509</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center">
                    <h2>Questões Trabalho</h2>
                    <div class="row" style="text-align: left;">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-5">
                            <p>Não pode ter dois grupos com o mesmo tema.</p>
                            <p>A dupla pode selecionar uma área que tenha domínio e escrever a regra do negócio com no mínimo 7 entidades.</p>
                            <div class="row sbtela">
                                <a href="/Home/Entidade" class="btn btn-info" style="color: #FFFFFF; margin-left: 2%;"><i class="fa fa-table"></i> Entidades</a>
                                @*<a href="#t5" class="btn btn-primary" style="color: #FFFFFF; margin-left: 2%;"><i class="fa fa-database"></i> Count</a>*@
                            </div>
                            <p>Criar modelo entidade e relacionamento e modelo lógico.</p>
                            <p>Criar e alterar tabelas com sql, respeitando o modelo.</p>
                            <p>Inserir, Alterar, Recuperar e Excluir registros.</p>
                            <p>Utilizar SQL para relatório como  WHERE, LIKE, COUNT, AVG, SUM, BETWEEN, AND, OR, NOT, ORDER BY, Group by e JOINs.</p>
                            <div class="row sbtela">
                                <a href="/Home/Codigo" class="btn btn-dark" style="color: #FFFFFF; margin-left: 2%;"><i class="fa fa-code"></i> Códigos</a>
                                @*<a href="#t5" class="btn btn-primary" style="color: #FFFFFF; margin-left: 2%;"><i class="fa fa-database"></i> Count</a>*@
                            </div>
                            <p>Todas as atividades desenvolvidas devem ser apresentadas no dia da entrega para o professor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="t7">
            <div class="col-lg-11">
                <button class="btn btn-success btNovo" id="novoPartida">Inserir Nova Partida</button>
                <table @*class="table"*@>
                    <thead @*class="thead-light"*@>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Mandante</th>
                            <th scope="col">Visitante</th>
                            <th scope="col">Liga</th>
                            <th scope="col">País</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Jogos)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>@item.nome</td>
                                <td>
                                    @foreach (var tj in TimesJogos)
                                    {
                                        if(item.mandante == tj.id)
                                        {
                                            @tj.nome
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var tj in TimesJogos)
                                    {
                                        if (item.visitante == tj.id)
                                        {
                                            @tj.nome
                                        }
                                    }
                                </td>
                                <td>@item.liga</td>
                                <td>@item.pais</td>
                                <td><a href="/Home/Partida?id=@item.id"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>