﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Jogador";
    var obj = ViewData["Jogador"] as Core.Database.Jogadores;
    var Times = ViewData["Times"] as List<Core.Database.Times>;
    var Ligas = ViewData["Ligas"] as List<Core.Database.Ligas>;
    var Paises = ViewData["Paises"] as List<Core.Database.Paises>;
    var Posicao = ViewData["Posicao"] as List<Core.Database.Posicoes>;

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();

        $("#btnHome").click(function () {
            location.href = '/Home/Index'
        });
    });
</script>

<style type="text/css">
    button {
        margin-top: 5%;
        margin-left: 2%;
    }

    .btn-success {
        margin-left: 4vh;
    }
</style>


<div class="row novo">
    <div class="col-lg-10 container" style="margin-top: 10%;">
        <form action="/Home/Jogador" method="post">
            <input type="hidden" name="id" value="@(obj != null ? obj.id.ToString() : "")" />
            <div class="col-lg-12" style="margin-top: 5%;">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" value="@(obj != null ? obj.nome : "")" required />
            </div>
            <div class="col-lg-12">
                <label>Número</label>
                <input type="number" class="form-control" name="numero" value="@(obj != null ? obj.numero.ToString() : "")" />
            </div>
            <div class="col-lg-12">
                <label>Time</label>
                <select class="form-control" name="timeId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Times)
                    {
                        if (obj != null && item.id == obj.timeId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Nacionalidade</label>
                <select class="form-control" name="paisId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Paises)
                    {
                        if (obj != null && item.id == obj.paisId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Liga</label>
                <select class="form-control" name="ligaId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Ligas)
                    {
                        if (obj != null && item.id == obj.ligaId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Posição</label>
                <select class="form-control" name="posicaoId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Posicao)
                    {
                        if (obj != null && item.id == obj.posicaoId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Titular</label>
                <select class="form-control" name="titular">
                    <option value="False" @(obj != null ? obj.titular.ToString().ToLower() == "false" ? "selected='selected'" : "" : "")>Não</option>
                    <option value="True" @(obj != null ? obj.titular.ToString().ToLower() == "true" ? "selected='selected'" : "" : "")>Sim</option>
                </select>
            </div>
            <div class="row">
                <br />
                <button type="submit" class="btn btn-success">Enviar</button>
                @if (obj != null)
                { <button type="submit" class="btn btn-danger" value="1" name="deletar">Deletar</button> }
                <button type="reset" class="btn btn-primary" id="btnHome">Cancelar</button>
            </div>
        </form>
    </div>
</div>
