﻿
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Champions</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- Icon page -->
    <link rel="shortcut icon" href="https://img.uefa.com/imgml/favicon/comp/ucl.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Carrousel -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <link href="~/fonts/CSS/styleL.css" rel="stylesheet" />

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.message a').click(function(){
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
            });

            $('.table').DataTable({
                dom: "Bfrtip",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese.json"
                },
                buttons: [
                    "copyHtml5",
                    "csvHtml5",
                    "excelHtml5",
                    {
                        exportOptions: {
                            stripHtml: true,
                            stripNewlines: false,
                            decodeEntities: true,
                        },
                        extend: "pdfHtml5"
                    },
                    {

                        extend: "print"
                    }
                ]
            });
        });
    </script>
    <style type="text/css">
        .erro {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login-page">
        @if (TempData["message"] != null)
            {
            <div class="alert-danger erro">@TempData["message"]</div>
        }
        <div class="form">
            <form class="register-form" action="/Home/NewUser" method="post">
                <input type="text" placeholder="Usuário" name="user" required/>
                <input type="password" placeholder="Senha" name="pass" required/>
                <input type="text" placeholder="E-mail" name="email" required/>
                <button type="submit">Criar</button>
                <p class="message">Já Possui Cadastro? <a href="#">Login</a></p>
            </form>
            <form class="login-form" action="/Home/Login" method="post">
                <input type="text" placeholder="Usuário" name="user" />
                <input type="password" placeholder="Senha" name="pass" />
                <button type="submit" >Login</button>
                <p class="message">Não Possui Cadastro? <a href="#">Criar Conta</a></p>
            </form>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

