﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Partida";
    var obj = ViewData["Jogos"] as Core.Database.Jogos;
    var Times = ViewData["Times"] as List<Core.Database.Times>;
    var Ligas = ViewData["Ligas"] as List<Core.Database.Ligas>;
    var Paises = ViewData["Paises"] as List<Core.Database.Paises>;
    
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();

        $("#btnHome").click(function () {
            location.href = '/Home/Index'
        });

        $("#visitante").change(function () {
            if ($("#visitante").val() == $("#mandante").val()) {
                alert("Não é possível um time jogar contra ele mesmo!");
                $("#visitante").val(0);
            }
        });

        $("#mandante").change(function () {
            if ($("#visitante").val() == $("#mandante").val()) {
                alert("Não é possível um time jogar contra ele mesmo!");
                $("#mandante").val(0);
            }
        });

    });
</script>

<style type="text/css">
    button {
        margin-top: 5%;
        margin-left: 2%;
    }

    .btn-success {
        margin-left: 4vh;
    }
</style>


<div class="row novo">
    <div class="col-lg-10 container" style="margin-top: 10%;">
        <form action="/Home/Partida" method="post">
            <input type="hidden" name="id" value="@(obj != null ? obj.id.ToString() : "")" />
            <div class="col-lg-12" style="margin-top: 5%;">
                <label>Nome da Partida</label>
                <input type="text" class="form-control" name="nome" value="@(obj != null ? obj.nome : "")" required/>
            </div>
            <div class="col-lg-12">
                <label>Time Mandante</label>
                <select class="form-control" name="casaTimeId" id="mandante" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Times)
                    {
                        if (obj != null && item.id == obj.casaTimeId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Time Visitante</label>
                <select class="form-control" name="foraTimeId" id="visitante" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Times)
                    {
                        if (obj != null && item.id == obj.foraTimeId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>Liga da Partida</label>
                <select class="form-control" name="ligaId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Ligas)
                    {
                        if (obj != null && item.id == obj.ligaId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12">
                <label>País da Partida</label>
                <select class="form-control" name="paisId" required>
                    <option value="0">Selecione...</option>
                    @foreach (var item in Paises)
                    {
                        if (obj != null && item.id == obj.paisId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                <br />
                <button type="submit" class="btn btn-success">Enviar</button>
                @if (obj != null)
                { <button type="submit" class="btn btn-danger" value="1" name="deletar">Deletar</button> }
                <button type="reset" class="btn btn-primary" id="btnHome">Cancelar</button>
            </div>
        </form>
    </div>
</div>
