﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Time";
    var obj = ViewData["Time"] as Core.Database.Times;
    var Paises = ViewData["Paises"] as List<Core.Database.Paises>;
    var Ligas = ViewData["Ligas"] as List<Core.Database.Ligas>;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();

        $("#btnHome").click(function () {
            location.href = '/Home/Index'
        });

    });
</script>

<style type="text/css">
    button {
        margin-top: 5%;
        margin-left: 2%;
    }
    .btn-success {
        margin-left: 4vh;
    }
</style>

<div class="row novo">
    <div class="col-lg-10 container" style="margin-top: 10%;">
        <form action="/Home/Time" method="post">
            <input type="hidden" name="id" value="@(obj != null ? obj.id.ToString() : "")" />
            <div class="col-lg-12">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" value="@(obj != null ? obj.nome : "")" />
            </div>
            <div class="col-lg-12" style="margin-top: 5%;">
                <label>País</label>
                <select class="form-control" name="paisId">
                    <option>Selecione...</option>
                    @foreach (var item in Paises)
                    {
                        if (obj != null && item.id == obj.paisId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-12" style="margin-top: 5%;">
                <label>Liga</label>
                <select class="form-control" name="ligaId">
                    <option>Selecione...</option>
                    @foreach (var item in Ligas)
                    {
                        if (obj != null && item.id == obj.ligaId)
                        {
                            <option selected value="@item.id">@item.nome</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                    <br />
                    <button type="submit" class="btn btn-success">Enviar</button>
                    @if (obj != null)
                    { <button type="submit" class="btn btn-danger" value="1" name="deletar">Deletar</button> }
                    <button type="reset" class="btn btn-primary" id="btnHome">Cancelar</button>
            </div>
        </form>
    </div>
</div>
