@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    overflow-x: hidden;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #0f2330;
    color: white;
    width: 100%;
    overflow: hidden;
}

/* Carta Apresentação */
.containerP {
    position: relative;
    width: 50%;
    margin-left: 25%;
    background-color: rgba(240, 240, 240, 0.2);
    color: black;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding-bottom: 2%;
    padding-top: 2%;
}

.containerQuestions {
    position: relative;
    width: 50%;
    margin-left: 25%;
    background-color: rgba(240, 240, 240, 0.2);
    color: black;
    box-shadow: 0 1px 2px rgba(0,0,0,.24);
    padding-bottom: 2%;
}

small b {
    color: black;
}

.containerP h3 {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.containerP h4 {
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

.btnAccess {
    text-align: center;
}

.btnForms  {
    text-align: center;
    margin-top: 2%;
}

.btnVoltar {
    margin-left: 5%;
    margin-top: 2%;
}

.questions {
    font-size: 15px;
    margin-left: 5%;
    padding-top: 2%;
}

.answers {
    margin-left: 2%;
}

.answers i {
    margin-left: 2%;
}

.qual {
    float: left;
    margin-right: 50%;
    margin-bottom: 1%;
}

.questionsTable {
    margin: 2%;
    background-color: yellow;
}

/* Tabela */
table th, td {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

/* Footer */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: #0f2330;
    width: 100%;
}

.footerCenter {
    margin-top: 1.5%;
    font-family: Montserrat, fantasy;
    font-size: 15px;
}

.footerCenter a {
    color: white;
    text-decoration: none;
}

.footerCenter a:hover {
    color: white;
    text-decoration: none;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    * {
        overflow-x: hidden;
    }
}