@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    * {
        overflow-x: hidden;
    }
}

body {
    overflow-x: hidden;
    margin: 0 auto;
}

.centro {
    width: 100%;
    height: 25vh;
    margin-bottom: 2%;
}

.user {
    margin-top: 5vh;
    margin-left: 30%;
    text-align: center;
}

.card-text {
    font-size: 40px;
    padding: 2%;
}

.esquerda {
    width: 80%;
    margin-left: 5%;
}