﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Champions</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- Icon page -->
    <link rel="shortcut icon" href="https://img.uefa.com/imgml/favicon/comp/ucl.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Carrousel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- CSS 
    <link href="~/fonts/CSS/styleP.css" rel="stylesheet" />-->
    <link href="~/fonts/CSS/styleL.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('table').DataTable({
                dom: "Bfrtip",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese.json"
                },
                buttons: [
                    "copyHtml5",
                    "csvHtml5",
                    "excelHtml5",
                    {
                        exportOptions: {
                            stripHtml: true,
                            stripNewlines: false,
                            decodeEntities: true,
                        },
                        extend: "pdfHtml5"
                    },
                    {

                        extend: "print"
                    }
                ]
            });

            $('.message a').click(function () {
                $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
            });

            $("#uno").click(function () {
                $("#t1").show();
                $("#t2").hide();
                $("#t3").hide();
                $("#t4").hide();
                $("#t5").hide();
                $("#t6").hide();
                $("#t7").hide();
            });

            $("#dos").click(function () {
                $("#t2").show();
                $("#t3").hide();
                $("#t4").hide();
                $("#t5").hide();
                $("#t6").hide();
                $("#t7").hide();
            });

            $("#tres").click(function () {
                $("#t3").show();
                $("#t4").hide();
                $("#t5").hide();
                $("#t6").hide();
                $("#t7").hide();
            });

            $("#cuatro").click(function () {
                $("#t4").show();
                $("#t5").hide();
                $("#t6").hide();
                $("#t7").hide();
            });

            $("#cinco").click(function () {
                $("#t5").show();
                $("#t6").hide();
                $("#t7").hide();
            });

            $("#seis").click(function () {
                $("#t6").show();
                $("#t7").hide();
            });

            $("#sete").click(function () {
                $("#t7").show();
            });
        });
    </script>
</head>
<body>
    <div class="menu">
        <ul id="menu">
            <a href="#t1"><li class="icon fa fa-home" id="uno"></li></a>
            <a href="#t2" title="Times"><li class="icon fa fa-futbol" id="dos"></li></a>
            <a href="#t3" title="Campeões"><li class="icon fa fa-medal" id="tres"></li></a>
            <a href="#t4" title="Jogadores"><li class="icon fa fa-users" id="cuatro"></li></a>
            <a href="#t7" title="Partidas"><li class="icon fa fa-users-cog" id="sete"></li></a>
            <a href="#t5" title="Novos"><li class="icon fa fa-plus-circle" id="cinco"></li></a>
            <a href="#t6" title="Sobre"><li class="icon fa fa-info-circle" id="seis"></li></a>
        </ul>
    </div>
    @RenderBody()   
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>